[Desktop Entry]
Name=SSHive
Comment=SSH Connection Manager
Exec=/usr/bin/sshive
Icon=sshive
Terminal=false
Type=Application
Categories=Utility;Network;
